[submodule "containers"]
	path = containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
[submodule "sourcedata/mario3"]
	path = sourcedata/mario3
	url = git@github.com:courtois-neuromod/mario3
	datalad-id = 061941e4-bdb6-4f5a-9f47-cc1b962d1ec6
